{% extends 'admin/base_site.html' %}
{% block content %}
<h1 class="text-center text-info" style="margin: 25px">THỐNG KÊ DANH SÁCH CÁC TOUR</h1>

<div class="row">
    <div class="col-md-6 col-xs-12 " style="padding-top: "100px">
        <table class="table">
            <tr>
                <th>Tour trong nước</th>
                <th>Tour ngoài nước</th>
            </tr>

            <tr>
                {% for s in count_tour %}
                <td>{{ s.dcount }}</td>
                {% endfor %}
            </tr>

        </table>
    </div>
    <div class="col-md-6 col-xs-12">
        <h2>Danh sách tour hiện có</h2>
        <table class="table">
            <tr>
                <th>Tên chuyến đi</th>
                <th>Giá</th>
                <th>Loại hình chuyến đi</th>
                <th>Ngày tạo</th>
                <th>Ngày cập nhật</th>
            </tr>
            {% for d in tour_all %}
            <tr>
                <td>{{ d.name_tour }}</td>
                <td>{{ d.price }}</td>
                {% if d.category_id == 1 %}
                    <td>Trong nước</td>
                    {% else %}
                    <td>Ngoài nước</td>
                {% endif %}
                <td>{{ d.created_date }}</td>
                <td>{{ d.updated_date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<!--    chartjs-->
    <div  >
        <canvas id="myChart", style="height: 50px"></canvas>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script >
            let data =[]
            let labels = []

             {% for s in count_tour %}
                data.push({{s.dcount}})
            {% endfor %}

            window.onload =function()
            {
                const ctx = document.getElementById('myChart');
                const myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Trong nước','Ngoài nước'],
                    datasets: [{
                        label: 'Thống kê danh sách tour',
                        data: data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
            }
        </script>
    </div>
{% endblock %}